# Problem Statement:
![img](https://cdn.mmos.com/wp-content/uploads/2017/03/steam-user-reviews-change-news-banner.jpg)

The Data uploaded had some issues.The column 'price' contained both, original as well as discounted price.
* So this Notebook deals with Preparing Data and doing other analysis like: 

#### Original Data Set Used: https://www.kaggle.com/kingburrito666/over-13000-steam-games

In [1]:
import numpy as np
import pandas as pd
# pandas defaults
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

In [2]:
import warnings
warnings.filterwarnings('ignore')

## 1. Importing Original Data

In [3]:
df=pd.read_csv('Steam_games_original.csv')
df.head(10)

                               Name    rel_date         price
0  Counter-Strike: Global Offensive  08-21-2012        $14.99
1     PLAYERUNKNOWN'S BATTLEGROUNDS  03-23-2017        $29.99
2                         Outlast 2  04-24-2017        $29.99
3                             SMITE   09-8-2015             0
4                     Rocket League   07-6-2015        $19.99
5           BlazBlue Centralfiction  04-25-2017  $39.99$35.99
6                          Warframe  03-25-2013             0
7                     The Long Dark  09-22-2014   $19.99$9.99
8            H1Z1: King of the Kill  02-17-2016        $19.99
9                    NieR:Automata   03-17-2017        $59.99

Since the column doesn't shows the delimtter '\$'  correctly here so we seperated columns manually by replacing '\\$' with ',' and ',,' with ',' by editing the provided CSV in a text editor.

## 2. Importing Edited Data

In [4]:
df=pd.read_csv('Steam_games.csv')

In [5]:
df.head(10)

                               Name    rel_date  sale_price  discounted_price
0  Counter-Strike: Global Offensive  08-21-2012       14.99               NaN
1     PLAYERUNKNOWN'S BATTLEGROUNDS  03-23-2017       29.99               NaN
2                         Outlast 2  04-24-2017       29.99               NaN
3                             SMITE   09-8-2015        0.00               NaN
4                     Rocket League   07-6-2015       19.99               NaN
5           BlazBlue Centralfiction  04-25-2017       39.99             35.99
6                          Warframe  03-25-2013        0.00               NaN
7                     The Long Dark  09-22-2014       19.99              9.99
8            H1Z1: King of the Kill  02-17-2016       19.99               NaN
9                    NieR:Automata   03-17-2017       59.99               NaN

##### To fill column discounted_price's null values we will use 'fillna' method

In [6]:
df=df.fillna(method='ffill',axis=1)

In [7]:
# let's rename the columns so that they make sense
df.rename(columns={'sale_price':'orig_price',}, inplace=True)
df.head()

                               Name    rel_date orig_price discounted_price
0  Counter-Strike: Global Offensive  08-21-2012      14.99            14.99
1     PLAYERUNKNOWN'S BATTLEGROUNDS  03-23-2017      29.99            29.99
2                         Outlast 2  04-24-2017      29.99            29.99
3                             SMITE   09-8-2015          0                0
4                     Rocket League   07-6-2015      19.99            19.99

In [8]:
#checking Data types
df.dtypes

Name                object
rel_date            object
orig_price          object
discounted_price    object
dtype: object

In [9]:
# Converting data type to suitable types
convert_dict = {'Name':str, 'rel_date': str, 'orig_price': float, 'discounted_price': float
               } 
  
df = df.astype(convert_dict) 
print(df.dtypes)

Name                 object
rel_date             object
orig_price          float64
discounted_price    float64
dtype: object

In [10]:
# Creating another column with discount percentage
df['discount%']= (((df['orig_price']-df['discounted_price'])*100)/df['orig_price'])

In [11]:
df.head(10)

,Name,rel_date,orig_price,discounted_price,discount%
0,Counter-Strike: Global Offensive,08-21-2012,14.99,14.99,0.000000
1,PLAYERUNKNOWN'S BATTLEGROUNDS,03-23-2017,29.99,29.99,0.000000
2,Outlast 2,04-24-2017,29.99,29.99,0.000000
3,SMITE,09-8-2015,0.00,0.00,NaN
4,Rocket League,07-6-2015,19.99,19.99,0.000000
5,BlazBlue Centralfiction,04-25-2017,39.99,35.99,10.002501
6,Warframe,03-25-2013,0.00,0.00,NaN
7,The Long Dark,09-22-2014,19.99,9.99,50.025013
8,H1Z1: King of the Kill,02-17-2016,19.99,19.99,0.000000
9,NieR:Automata,03-17-2017,59.99,59.99,0.000000

In [12]:
#Replacing and rounding of values to 2 digit
df['discount%'] = df['discount%'].replace(np.nan, 0) 
df['discount%']=df['discount%'].round(2)

In [13]:
df.head(10)

,Name,rel_date,orig_price,discounted_price,discount%
0,Counter-Strike: Global Offensive,08-21-2012,14.99,14.99,0.00
1,PLAYERUNKNOWN'S BATTLEGROUNDS,03-23-2017,29.99,29.99,0.00
2,Outlast 2,04-24-2017,29.99,29.99,0.00
3,SMITE,09-8-2015,0.00,0.00,0.00
4,Rocket League,07-6-2015,19.99,19.99,0.00
5,BlazBlue Centralfiction,04-25-2017,39.99,35.99,10.00
6,Warframe,03-25-2013,0.00,0.00,0.00
7,The Long Dark,09-22-2014,19.99,9.99,50.03
8,H1Z1: King of the Kill,02-17-2016,19.99,19.99,0.00
9,NieR:Automata,03-17-2017,59.99,59.99,0.00

## 3. Saving formated data for further use

In [14]:
df.to_csv('Steam_games_final.csv')

### Basic Insights

In [15]:
df = pd.read_csv("Steam_games_final.csv")

In [16]:
df.describe()

         Unnamed: 0    orig_price  discounted_price     discount%
count  13600.000000  13600.000000      13600.000000  13600.000000
mean    6799.500000     24.030446         21.027887     13.783682
std     3926.126165     17.830342         18.976622     26.628158
min        0.000000      0.000000          0.000000      0.000000
25%     3399.750000     14.990000          4.990000      0.000000
50%     6799.500000     19.990000         15.990000      0.000000
75%    10199.250000     29.990000         29.990000     10.000000
max    13599.000000     59.990000         59.990000     75.040000

### Conclusion:-
* Total Games: 13600
* Average Price of game: $24.03
* Max Price of a game: \\$59.99
* Max Discount %: 75.04%